[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA Community Edition
Exec=idea %f
Icon=Idea
Comment=The IDE for Java and Kotlin enthusiasts
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-idea-ce
